/* Table of Contents:
    Home Section
    Skills Section
    Contact Section
    Overwriting Page Piling.js
    GitHub Corner
    Responsive Breakpoints
 * --------------------------------------- */

h1,
h2,
h3,
button,
label {
    font-family: 'Raleway', sans-serif;
    color: lightskyblue;
}

p,
li,
i {
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
}

a,
a:focus,
a:hover,
a:active {
    color: lightskyblue;
}

b,
label {
    color: #fff;
}

label {
    width: 100px;
    height: 38px;
    padding: 7px 10px 7px 10px;
    margin: 10px;
    border-left: 2px solid lightskyblue;
    border-radius: .25rem
}

button {
    background: transparent;
    padding: 10px 0 10px 0;
    border: 2px solid lightskyblue;
    transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
}

button:hover {
    background: lightskyblue;
    color: #fff;
}

.btn-wide {
    width: 250px;
}

.btn-skinny {
    width: 150px;
}

.i-red {
    color: lightskyblue;
}

#rotate {
    display: none;
}

.section {
    background-color: #252525;
}

/* Home Section
 * --------------------------------------- */

#home,
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem 0;
}

.img-cover {
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 8px 0 #00000040, 0 6px 20px 0 #0000001e;
    object-fit: cover;
}

.name-block {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.social-media-buttons {
    margin-top: 30px;
}

.social-media-buttons>a {
    margin: 10px;
    text-decoration: none;
}

.social-media-buttons>a>i:hover {
    color: lightskyblue;
}


/* Skills Section
 * --------------------------------------- */

#skills-left {
    color: #fff;
}

.skills-item {
    margin: 50px 0 5px 0;
}

.skills-item-head {
    margin: 5px 5px 5px 0;
    border-left: 6px solid lightskyblue;
    padding-left: 10px;
}

.skills-item-body {
    padding-left: 20px;
}

/* Contact Section
 * --------------------------------------- */

.form-control {
    margin: 10px 0 10px 0;
    background: transparent;
    color: #7a7a7a;
    border-color: #7a7a7a;
}

.form-control:focus {
    background: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}


/* Overwriting Page Piling.js
* --------------------------------------- */

#pp-nav li .active span,
.pp-slidesNav .active span {
    background: lightskyblue !important;
}

#pp-nav span,
.pp-slidesNav span {
    border-color: lightskyblue !important;
}


/* GitHub Corner
* --------------------------------------- */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


/* Responsive Breakpoints
* --------------------------------------- */


/* Small devices (landscape phones, 576px and up), new  568px */

@media (max-width: 567px) {

    .img-cover {
        width: 150px;
        height: 150px;
    }

    .name-block {
        font-size: 2.5rem;
    }

}

@media (max-height: 1200px) {
    #skills-left {
        height: 95vh;
        overflow: auto;
    }
}

@media (max-width: 800px) and (max-height: 500px) {
    #btnContact,
    #home .social-media-buttons,
    .skills-item,
    #contact-right>img,
    figcaption>p {
        display: none;
    }
    figure {
        height: 200px;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p,
    button {
        font-size: 1rem;
    }
    #home img {
        width: 200px;
        height: 170px;
    }
}

@media (max-width: 1000px) {
    #contact-left {
        display: none;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 992px) {
    figcaption>p {
        font-size: 0.8rem;
    }
}
